:root {
    font-size: 16px;
    
    --tw-prose-invert-body: #e0e3e9;
}

.max-w-screen-lg {
    max-width: 1100px;
}

code {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.4em;
}

section article {
    display: block;
    max-width: 750px;
    margin: 0 auto;
    
    font-size: 18px;
    line-height: 1.85em;
}
